html{
  /* background-image: url("./assets/background.jpg"); */
  
 
  width: 100% ;
  overflow-x:hidden;
}

 .landing-page{
    height: 100vh;
    width: 100%;
    position: relative;
    /* background-image: url(./assets/background.jpg); */
    object-fit: cover;
}




.page4{
  height: 100vh;
  width: 100%;
    position: relative;
    /* background-image: url(./assets/background.jpg); */
    object-fit: cover;
}
.container{
  height: 100vh;
  width: 100%;
    position: relative;
    /* background-image: url(./assets/background.jpg); */
    object-fit: cover;
}

.Team-title-page4{
  max-width:30%;
  background-color: cornflowerblue;
  color: white;
  font-size: 3vw;
  font-family: 'Permanent Marker', cursive;
  align-self: center;
  padding: 0vw 2vw;
  margin: auto;
}

.Team-container-page4{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  margin-top: 20vh;
}

/* // */

.col-lg{
  
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
  background-color: none;
}

.main{
        
  width: 15vw;
  
  background-color: none;
  /* animation: slide-in-left-team 1s linear  infinite  ;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll)*-10s); */
}
/* 
@keyframes slide-in-left-team {
    from{
      transform: translateX(-100vh);
    }
    to{
      transform: translateX(0);
    }
} */

/* @keyframes profile-card-hover {
  0%{}
  100%{
    border-radius: 10px;
    height: 38vh;
    box-shadow: none;
  }
}
@keyframes profile-card-hover-img {
  0%{
    transform: none;
  }
  100%{
    transform: translateY(-6vh);
  }
} */

/* @keyframes profile-card-hover-caption {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    transform: translateY(-6vh);
  }
} */


/*  */



/* // */


/* .row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 3% 0;
  color: #fff;
}  */










.n-card{
    position:relative;
    align-content: space-between;
    width: 14vw;
    height: 35vh;
    background: none;
    padding: 6px;
    
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    box-shadow: 0 0 22px rgba(15, 15, 15, 0.4);
    transition: all 0.8s;
    margin: 0.25vw;
  
  }
  .n-card:hover{
    border-radius: 10px;
      height: 38vh;
      box-shadow: none;
  }
  .n-card .img{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.8s;
  }
  .n-card:hover .img{
    transform: translateY(-10vh);
  }
  
  .caption{
    text-align: center;
    transform: translateY(-10vh);
    opacity: 0;
    transition: all 0.8s;
    padding: 0px;
  }
  .n-card:hover .caption{
    opacity: 1;

  }
  /* @keyframes n-card-hover-caption {
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0;
    }
    100%{
      transform: translateY(-6vh);
    }
  } */
  .caption h3{
    font-size: 1.5vw;
    color: #020261;
  
  }
  .caption p{
   font-size: 1.2vw;
   color: #020261; 
   margin: 2px 0 6px 0;
  }
  .titl{
    margin-left: 71px ;
    margin-top: -40px;
    margin-bottom: 16px;
    transition: all 0.8s;
    color: grey ;
  }
  .n-card:hover .titl{
    transform: translateY(-10vh);
    
  }


  .fa {
    padding: 0.2vw;
    font-size: 1.2vw;
    width: 1vw;
    text-align: center;
    text-decoration: none;
    margin: 0 0.4vw;
    margin-top: 0.4vw;
    cursor: pointer;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /*  */
  
  .img img{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
  
  }

  .n-row{
    margin-left: 175px;
    margin-bottom: 70px;
    display:flex;
    align-items:normal;
    
  }
  .d-flex{
    gap:17%;
    justify-content:center;
  }
  .row{
    gap:0%;

    justify-content:center;
  }

  .head1{
    margin-top: 100px;
    width: 100%;
  }

  .navbar-collapse
{
    display: flex;
    justify-content: flex-end;
}
.nav-item{
    
    margin-left: 20px;
    margin-right: 20px;

}
.navbar-brand img{
    height: 25px;
}
.navbar-nav .nav-link {
    color: white; 
    text-decoration: none !important;
  }
.navbar-brand{
    color: white;
}
.navbar {
    background-color: #020261;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
.nav-item a:hover{
    text-decoration: none;
    color: white; 
}

.nav-item:hover{
    background-color: #525296; 
}
.navbar-nav .nav-item.active .nav-link {
    background-color: #1000f0;
}
.navbar-brand:hover{
    text-decoration: none;
    color: white;
}

.TTL{
  
  margin-top: 56px;
  height: 54vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(./assets/Team_Photo.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}