.carousel-item img{
    height:90vh;
}

.event .col{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: #4c4c81 !important;
    color: white;

    border-radius: 30px !important;
}

.card .card-body{
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card .col-md-4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img{
    height: 150px;
    width: 90%;
    margin: 10px;
}
.event .col{
    display: flex;
    justify-content: center;
    align-items: center;
}
.event .card{
    min-height: 100%;
}
.event .row{
    height: fit-content;
    min-height: 270px;
}